import tkinter as tk
from tkinter import messagebox
def calculate_bmi():
    try:
        height_cm=float(height_entry.get())
        weight=float(weight_entry.get())
        height_m=height_cm/100
        bmi=weight/(height_m**2)
        result_label.config(text=f"your bmi:{bmi:.2f}")
        
        if bmi<18.5:
            status="lightweight"
            color='blue'
        elif 18.5<=bmi<25:
            status="normal"
            color='green'
        elif 25<=bmi<30:
            status='overweight'
            color='orange'
        else:
            status='fat'
            color='red'
        status_label.config(text=f'status: {status}',fg=color)
    except valueeError:
        messagebox.showerror('please enter only numbers','error!')
root=tk.Tk()
root.title('BMI calculation')
root.geometry('300x250')
root.resizable(False,False)
tk.Label(root,text='centimeter,height:',font=('Tahoma',11)).pack(pady=5)
height_entry=tk.Entry(root,font=('Tahoma',11),justify='center')
height_entry.pack(pady=5)
tk.Label(root,text='kilogram:',font=('Tahoma',11)).pack(pady=5)
weight_entry=tk.Entry(root,font=('Tahoma',11),justify='center')
weight_entry.pack(pady=5)

calc_button=tk.Button(root,text='BMI calculation',command=calculate_bmi,font=('Tahoma',11,'bold'),bg='#4CAF50',fg='white',width=15,height=1)
calc_button.pack(pady=15)
result_label=tk.Label(root,text="your BMI:",font=('Tahoma',12,'bold'))
result_label.pack(pady=5)
status_label=tk.Label(root,text="status",font=('Tahoma',11))
status_label.pack(pady=5)
root.mainloop()
